{% extends 'layout.html' %} {% block style %}
<link rel="stylesheet" href="/chat.css" />
{% endblock %} {% block content %}
<div class="chat-box">
  <div class="chat-title"><h1>{{room.title}}</h1></div>
  <div class="chat-content">
    {% for chat in chats %} {% if chat.user._id.toString() ==
    user._id.toString() %}
    <div class="my-msg">
      <div class="content-createdAt">
        <div class="msg-createdAt">
          <p>
            {{chat.createdAt.toLocaleTimeString('ko-KR', { timeZone:
            'Asia/Seoul' })}}
          </p>
        </div>
        <div class="msg-content">
          <p>{{chat.content}}</p>
        </div>
      </div>
    </div>
    {% else %}
    <div class="other-msg">
      <div class="msg-user">
        <p>{{chat.user.nickname}}({{chat.user.id}})</p>
      </div>
      <div class="content-createdAt">
        <div class="msg-content">
          <p>{{chat.content}}</p>
        </div>
        <div class="msg-createdAt">
          <p>
            {{chat.createdAt.toLocaleTimeString('ko-KR', { timeZone:
            'Asia/Seoul' })}}
          </p>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
  <form class="chat-form">
    <input
      type="text"
      name="message"
      placeholder="메시지를 입력하세요"
      required
    />
    <button type="submit">전송</button>
  </form>
</div>
{% endblock %} {% block script %}
<script>
  const socket = io('/chat');
</script>
<script>
  $(document).ready(() => {
    $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
    const roomId = '{{room._id}}';
    $('.chat-form').on('submit', (e) => {
      e.preventDefault();
      const message = $('[name=message]').val();
      $('[name=message]').val('');
      socket.emit('chat', { message, roomId });
    });
    socket.on('chat', (data) => {
      if (data.room._id.toString() == roomId.toString()) {
        const contentCreatedAt = $('<div></div>').addClass('content-createdAt');
        const msgCreatedAt = $('<div></div>').addClass('msg-createdAt');
        msgCreatedAt.append(
          $('<p></p>').text(
            new Date(data.createdAt).toLocaleTimeString('ko-KR', {
              timeZone: 'Asia/Seoul',
            })
          )
        );
        const msgContent = $('<div></div>').addClass('msg-content');
        msgContent.append($('<p></p>').text(data.content));
        if (data.user._id.toString() == '{{user._id}}') {
          contentCreatedAt.append(msgCreatedAt);
          contentCreatedAt.append(msgContent);
          const myMsg = $('<div></div>').addClass('my-msg');
          myMsg.append(contentCreatedAt);
          $('.chat-content').append(myMsg);
        } else {
          const msgUser = $('<div></div>').addClass('msg-user');
          msgUser.append(
            $('<p></p>').text(`${data.user.nickname}(${data.user.id})`)
          );
          contentCreatedAt.append(msgContent);
          contentCreatedAt.append(msgCreatedAt);
          const otherMsg = $('<div></div>').addClass('other-msg');
          otherMsg.append(msgUser);
          otherMsg.append(contentCreatedAt);
          $('.chat-content').append(otherMsg);
        }
        $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
      }
    });
  });
</script>
{% endblock %}
