{% extends 'layout.html' %} {% block style %}
<link rel="stylesheet" href="/chat.css" />
{% endblock %} {% block content %}
<div class="title-modal-bg" style="display: none">
  <div class="title-modal">
    <h2>채팅방 이름 수정</h2>
    <form class="title-form">
      <input type="text" name="title" value="{{room.title}}" required />
      <div class="btn-box">
        <button type="button" class="title-cancel-btn">취소</button>
        <button type="submit">수정</button>
      </div>
    </form>
  </div>
</div>
<div class="pw-modal-bg" style="display: none">
  <div class="pw-modal">
    <h2>채팅방 비밀번호 변경</h2>
    <form class="pw-form">
      <input
        type="password"
        name="oldPw"
        placeholder="기존 비밀번호"
        required
      />
      <input type="password" name="newPw" placeholder="새 비밀번호" required />
      <div class="btn-box">
        <button type="button" class="pw-cancel-btn">취소</button>
        <button type="submit">수정</button>
      </div>
    </form>
  </div>
</div>
<div class="emission-modal-bg" style="display: none">
  <div class="emission-modal">
    <p></p>
    <div class="btn-box">
      <button type="button" class="emission-cancel-btn">취소</button>
      <button type="button" class="emission-btn">방출</button>
    </div>
  </div>
</div>
<div class="invite-modal-bg" style="display: none">
  <div class="invite-modal">
    <h2>친구 초대</h2>
    <div class="btn-box">
      <button type="button" class="invite-cancel-btn">취소</button>
      <button type="button" class="invite-modal-btn">초대</button>
    </div>
    <div class="friend-list">
      {% for friend in inviteFriends %}
      <div class="friend" data-userId="{{friend._id}}">
        <p>{{friend.nickname}}({{friend.id}})</p>
        <i class="fa-regular fa-square-check"></i>
        <i class="fa-solid fa-square-check" style="display: none"></i>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="chat-box">
  <div class="chat-title">
    <a href="/room-list/{{user._id}}" class="room-list-link"
      ><i class="fa-solid fa-arrow-left"></i> 채팅방 목록</a
    >
    <h1>{{room.title}}</h1>
    <button class="room-info-btn" type="button">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <div class="chat-content">
    {% for chat in chats %} {% if chat.notification %}
    <div class="notification">
      <p>{{chat.content}}</p>
    </div>
    {% elif chat.user._id.toString() == user._id.toString() %}
    <div class="my-msg">
      <div class="content-createdAt">
        <div class="msg-createdAt">
          <i
            class="fa-solid fa-xmark chat-delete-btn"
            data-chatId="{{chat._id}}"
          ></i>
          <p>
            {{chat.createdAt.toLocaleTimeString('ko-KR', { timeZone:
            'Asia/Seoul' })}}
          </p>
        </div>
        {% if chat.deleted %}
        <div class="msg-content deleted-chat">
          <p>{{chat.content}}</p>
        </div>
        {%else%}
        <div class="msg-content">
          <p>{{chat.content}}</p>
        </div>
        {% endif %}
      </div>
    </div>
    {% else %}
    <div class="other-msg">
      <div class="msg-user" id-user="{{chat.user._id}}">
        <p>{{chat.user.nickname}}({{chat.user.id}})</p>
      </div>
      <div class="content-createdAt">
        <div class="msg-content">
          <p>{{chat.content}}</p>
        </div>
        <div class="msg-createdAt">
          <p>
            {{chat.createdAt.toLocaleTimeString('ko-KR', { timeZone:
            'Asia/Seoul' })}}
          </p>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
  <form class="chat-form">
    <input
      type="text"
      name="message"
      placeholder="메시지를 입력하세요"
      required
      autofocus
    />
    <button type="submit">전송</button>
  </form>
</div>
<div class="room-info">
  {% if room.owner._id.toString() == user._id.toString() %}
  <button type="button" class="room-delete-btn">
    방 삭제 <i class="fa-solid fa-xmark"></i>
  </button>
  {% if room.password %}
  <button type="button" class="pw-put-btn">비밀번호 변경</button>
  {% endif %} {% else %}
  <button type="button" class="room-exit-btn">
    방 나가기 <i class="fa-solid fa-arrow-right-from-bracket"></i>
  </button>
  {% endif %}
  <button type="button" class="invite-btn">친구 초대</button>
  <p class="room-title">
    채팅방 이름: {{room.title}} {% if room.owner._id.toString() ==
    user._id.toString() %}
    <i class="fa-solid fa-pencil"></i>
    {% endif %}
  </p>
  <p class="room-owner">
    채팅방 관리자: {{room.owner.nickname}} ({{room.owner.id}})
  </p>
  <p class="room-users">채팅방 인원</p>
  <div class="users-list">
    {% for userOne in room.users %}
    <div class="room-user" data-userId="{{userOne._id}}">
      <p>
        {{userOne.nickname}} ({{userOne.id}}) {% if user._id.toString() ==
        room.owner._id.toString() %} {% if room.owner._id.toString() !=
        userOne._id.toString() %}
      </p>
      <i class="fa-solid fa-square-xmark" data-userId="{{userOne._id}}"></i>
      {% endif %} {% endif %}
    </div>
    {% endfor %}
  </div>
  <p class="room-created-at">
    방 생성날짜: {{room.createdAt.toLocaleDateString('ko-KR', { timeZone:
    'Asia/Seoul' })}}
  </p>
</div>
{% endblock %} {% block script %}
<script>
  const socket = io('/chat');
</script>
<script>
  $(document).ready(() => {
    $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
    const roomId = '{{room._id}}';
    socket.emit('join', { roomId });
    $('.chat-form').on('submit', (e) => {
      e.preventDefault();
      const message = $('[name=message]').val();
      $('[name=message]').val('');
      socket.emit('chat', { message, roomId });
    });
    socket.on('chat', (data) => {
      if (data.result.room._id.toString() == roomId.toString()) {
        if (data.dateChange) {
          const notification = $('<div></div>').addClass('notification');
          notification.append(
            $('<p></p>').text(
              new Date(data.newDate).toLocaleDateString('ko-KR', {
                timeZone: 'Asia/Seoul',
              })
            )
          );
          $('.chat-content').append(notification);
        }
        const contentCreatedAt = $('<div></div>').addClass('content-createdAt');
        const msgCreatedAt = $('<div></div>').addClass('msg-createdAt');
        const xmark = $('<i></i>').addClass(
          'fa-solid fa-xmark chat-delete-btn'
        );
        xmark.on('click', function () {
          axios
            .delete(`/delete-chat/${$(this).attr('data-chatId')}`)
            .then((res) => {
              if (res.data.success) {
                const content = $(this).parent().next().children().first();
                content.text('삭제된 메시지입니다.');
                content.parent().addClass('deleted-chat');
              } else {
                location.href = '/login';
              }
            })
            .catch((err) => {
              console.error(err);
            });
        });
        xmark.attr('data-chatId', data.result._id);
        msgCreatedAt.append(xmark);
        msgCreatedAt.append(
          $('<p></p>').text(
            new Date(data.result.createdAt).toLocaleTimeString('ko-KR', {
              timeZone: 'Asia/Seoul',
            })
          )
        );
        const msgContent = $('<div></div>').addClass('msg-content');
        if (data.result.deleted) {
          msgContent.addClass('deleted-chat');
        }
        msgContent.append($('<p></p>').text(data.result.content));
        if (data.result.user._id.toString() == '{{user._id}}') {
          contentCreatedAt.append(msgCreatedAt);
          contentCreatedAt.append(msgContent);
          const myMsg = $('<div></div>').addClass('my-msg');
          myMsg.append(contentCreatedAt);
          $('.chat-content').append(myMsg);
        } else {
          const msgUser = $('<div></div>').addClass('msg-user');
          msgUser.attr('id-user', data.result.user._id);
          msgUser.append(
            $('<p></p>').text(
              `${data.result.user.nickname}(${data.result.user.id})`
            )
          );
          contentCreatedAt.append(msgContent);
          contentCreatedAt.append(msgCreatedAt);
          const otherMsg = $('<div></div>').addClass('other-msg');
          otherMsg.append(msgUser);
          otherMsg.append(contentCreatedAt);
          $('.chat-content').append(otherMsg);
        }
        $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
      }
    });
    $('.room-info-btn').on('click', () => {
      const roomInfo = $('.room-info');
      if (roomInfo.hasClass('show')) {
        roomInfo.removeClass('show');
      } else {
        roomInfo.addClass('show');
      }
    });
    $('.room-exit-btn').on('click', () => {
      axios.post(`/room-exit/${roomId}`).then((res) => {
        if (res.data.success) {
          location.href = '/room-list/{{user._id}}';
        } else {
          location.href = '/login';
        }
      });
    });
    $('.room-delete-btn').on('click', () => {
      axios.delete(`/room-delete/${roomId}`).then((res) => {
        if (res.data.success) {
          location.href = '/room-list/{{user._id}}';
        } else {
          location.href = '/login';
        }
      });
    });
    socket.on('room-enter', (data) => {
      if (data.dateChange) {
        const notification = $('<div></div>').addClass('notification');
        notification.append(
          $('<p></p>').text(
            new Date(data.newDate).toLocaleDateString('ko-KR', {
              timeZone: 'Asia/Seoul',
            })
          )
        );
        $('.chat-content').append(notification);
      }
      const notification = $('<div></div>').addClass('notification');
      notification.append(
        $('<p></p>').text(
          `${data.user.nickname}(${data.user.id})님이 입장하셨습니다.`
        )
      );
      $('.chat-content').append(notification);
      $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
    });
    socket.on('room-exit', (data) => {
      if (data.dateChange) {
        const notification = $('<div></div>').addClass('notification');
        notification.append(
          $('<p></p>').text(
            new Date(data.newDate).toLocaleDateString('ko-KR', {
              timeZone: 'Asia/Seoul',
            })
          )
        );
        $('.chat-content').append(notification);
      }
      const notification = $('<div></div>').addClass('notification');
      notification.append(
        $('<p></p>').text(
          `${data.user.nickname}(${data.user.id})님이 퇴장하셨습니다.`
        )
      );
      $('.chat-content').append(notification);
      $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
    });

    $('.fa-pencil').on('click', () => {
      $('.title-modal-bg').show();
    });

    $('.title-cancel-btn').on('click', () => {
      $('.title-modal-bg').hide();
    });

    $('.title-form').on('submit', (e) => {
      e.preventDefault();
      const title = $('[name=title]').val();
      axios
        .put(`/room-title/${roomId}`, { title })
        .then((res) => {
          if (res.data.success) {
            $('.chat-title h1').text(title);
            $('.room-title').text(`채팅방 이름: ${title}`);
            $('.title-modal-bg').hide();
          } else {
            location.href = '/login';
          }
        })
        .catch((err) => {
          console.error(err);
        });
    });

    $('.pw-put-btn').on('click', () => {
      $('.pw-modal-bg').show();
    });

    $('.pw-cancel-btn').on('click', () => {
      $('.pw-modal-bg').hide();
    });

    $('.pw-form').on('submit', (e) => {
      e.preventDefault();
      const oldPw = $('[name=oldPw]').val();
      const newPw = $('[name=newPw]').val();
      axios.put(`/room-pw/${roomId}`, { oldPw, newPw }).then((res) => {
        if (res.data.success) {
          $('.pw-modal-bg').hide();
        } else {
          alert('기존 비밀번호가 일치하지 않습니다.');
        }
      });
    });

    $('.fa-square-xmark').on('click', (e) => {
      const userName = $(e.currentTarget).parent().text();
      $('.emission-btn').attr(
        'data-userId',
        $(e.currentTarget).attr('data-userId')
      );
      $('.emission-modal p').text(`${userName}을(를) 정말로 방출하시겠습니까?`);
      $('.emission-modal-bg').show();
    });
    $('.emission-cancel-btn').on('click', () => {
      $('.emission-modal-bg').hide();
    });
    $('.emission-btn').on('click', (e) => {
      axios
        .post(`/user-emission/${roomId}`, {
          userId: $(e.currentTarget).attr('data-userId'),
        })
        .then((res) => {
          if (res.data.success) {
            $('.emission-modal-bg').hide();
            $('.room-info').removeClass('show');
          } else {
            location.href = '/login';
          }
        })
        .catch((err) => {
          console.error(err);
        });
    });
    socket.on('user-emission', (data) => {
      if (data.success) {
        if (data.emissionUser._id.toString() == '{{user._id}}') {
          location.href = '/room-list/{{user._id}}';
          alert('{{room.title}}에서 방출되었습니다.');
        }
        const notification = $('<div></div>').addClass('notification');
        notification.append(
          $('<p></p>').text(
            `${data.emissionUser.nickname}(${data.emissionUser.id})님이 방출되셨습니다.`
          )
        );
        $('.chat-content').append(notification);
        $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
      }
    });

    $('.room-user').each(function () {
      $(this)
        .children(':first')
        .on('click', (e) => {
          location.href = `/profile/${$(this).attr('data-userId')}`;
        });
    });

    $(
      '.friend .fa-regular.fa-square-check, .friend .fa-solid.fa-square-check'
    ).click(function () {
      $(this).hide();
      $(this).siblings('i').show();
    });

    $('.invite-btn').on('click', () => {
      $('.invite-modal-bg').show();
    });

    $('.invite-cancel-btn').on('click', () => {
      $('.invite-modal-bg').hide();
    });

    $('.invite-modal-btn').on('click', () => {
      const userIds = [];
      $('.friend .fa-solid.fa-square-check').each(function () {
        if ($(this).is(':visible')) {
          userIds.push($(this).parent().attr('data-userId'));
        }
      });
      axios
        .post(`/room-invite/${roomId}`, { userIds })
        .then((res) => {
          if (res.data.success) {
            location.reload();
          } else {
            location.href = '/login';
          }
        })
        .catch((err) => {
          console.error(err);
        });
    });

    $('.chat-delete-btn').on('click', function () {
      axios
        .delete(`/delete-chat/${$(this).attr('data-chatId')}`)
        .then((res) => {
          if (res.data.success) {
            const content = $(this).parent().next().children().first();
            content.text('삭제된 메시지입니다.');
            content.addClass('deleted-chat');
          } else {
            location.href = '/login';
          }
        })
        .catch((err) => {
          console.error(err);
        });
    });

    $('.msg-user p').on('click', function () {
      location.href = `/profile/${$(this).parent().attr('id-user')}`;
    });
  });
</script>
{% endblock %}
