{% extends 'layout.html' %} {% block style %}
<link rel="stylesheet" href="/chat.css" />
{% endblock %} {% block content %}
<div class="chat-box">
  <div class="chat-title">
    <a href="/room-list/{{user._id}}" class="room-list-link"
      ><i class="fa-solid fa-arrow-left"></i> 채팅방 목록</a
    >
    <h1>{{room.title}}</h1>
    <button class="room-info-btn" type="button">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <div class="chat-content">
    {% for chat in chats %} {% if chat.notification %}
    <div class="notification">
      <p>{{chat.content}}</p>
    </div>
    {% elif chat.user._id.toString() == user._id.toString() %}
    <div class="my-msg">
      <div class="content-createdAt">
        <div class="msg-createdAt">
          <p>
            {{chat.createdAt.toLocaleTimeString('ko-KR', { timeZone:
            'Asia/Seoul' })}}
          </p>
        </div>
        <div class="msg-content">
          <p>{{chat.content}}</p>
        </div>
      </div>
    </div>
    {% else %}
    <div class="other-msg">
      <div class="msg-user">
        <p>{{chat.user.nickname}}({{chat.user.id}})</p>
      </div>
      <div class="content-createdAt">
        <div class="msg-content">
          <p>{{chat.content}}</p>
        </div>
        <div class="msg-createdAt">
          <p>
            {{chat.createdAt.toLocaleTimeString('ko-KR', { timeZone:
            'Asia/Seoul' })}}
          </p>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
  <form class="chat-form">
    <input
      type="text"
      name="message"
      placeholder="메시지를 입력하세요"
      required
    />
    <button type="submit">전송</button>
  </form>
</div>
<div class="room-info">
  {% if room.owner._id.toString() == user._id.toString() %}
  <button type="button" class="room-delete-btn">
    방 삭제 <i class="fa-solid fa-xmark"></i>
  </button>
  {% else %}
  <button type="button" class="room-exit-btn">
    방 나가기 <i class="fa-solid fa-arrow-right-from-bracket"></i>
  </button>
  {% endif %}
  <p class="room-owner">
    채팅방 관리자: {{room.owner.nickname}} ({{room.owner.id}})
  </p>
  <p class="room-users">채팅방 인원</p>
  <div class="users-list">
    {% for user in room.users %}
    <p class="room-user">{{user.nickname}} ({{user.id}})</p>
    {% endfor %}
  </div>
  <p class="room-created-at">
    방 생성날짜: {{room.createdAt.toLocaleDateString('ko-KR', { timeZone:
    'Asia/Seoul' })}}
  </p>
</div>
{% endblock %} {% block script %}
<script>
  const socket = io('/chat');
</script>
<script>
  $(document).ready(() => {
    $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
    const roomId = '{{room._id}}';
    socket.emit('join', { roomId });
    $('.chat-form').on('submit', (e) => {
      e.preventDefault();
      const message = $('[name=message]').val();
      $('[name=message]').val('');
      socket.emit('chat', { message, roomId });
    });
    socket.on('chat', (data) => {
      if (data.room._id.toString() == roomId.toString()) {
        const contentCreatedAt = $('<div></div>').addClass('content-createdAt');
        const msgCreatedAt = $('<div></div>').addClass('msg-createdAt');
        msgCreatedAt.append(
          $('<p></p>').text(
            new Date(data.createdAt).toLocaleTimeString('ko-KR', {
              timeZone: 'Asia/Seoul',
            })
          )
        );
        const msgContent = $('<div></div>').addClass('msg-content');
        msgContent.append($('<p></p>').text(data.content));
        if (data.user._id.toString() == '{{user._id}}') {
          contentCreatedAt.append(msgCreatedAt);
          contentCreatedAt.append(msgContent);
          const myMsg = $('<div></div>').addClass('my-msg');
          myMsg.append(contentCreatedAt);
          $('.chat-content').append(myMsg);
        } else {
          const msgUser = $('<div></div>').addClass('msg-user');
          msgUser.append(
            $('<p></p>').text(`${data.user.nickname}(${data.user.id})`)
          );
          contentCreatedAt.append(msgContent);
          contentCreatedAt.append(msgCreatedAt);
          const otherMsg = $('<div></div>').addClass('other-msg');
          otherMsg.append(msgUser);
          otherMsg.append(contentCreatedAt);
          $('.chat-content').append(otherMsg);
        }
        $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
      }
    });
    $('.room-info-btn').on('click', () => {
      const roomInfo = $('.room-info');
      if (roomInfo.hasClass('show')) {
        roomInfo.removeClass('show');
      } else {
        roomInfo.addClass('show');
      }
    });
    $('.room-exit-btn').on('click', () => {
      axios.post(`/room-exit/${roomId}`).then((res) => {
        if (res.data.success) {
          location.href = '/room-list/{{user._id}}';
        } else {
          location.href = '/login';
        }
      });
    });
    $('.room-delete-btn').on('click', () => {
      axios.delete(`/room-delete/${roomId}`).then((res) => {
        if (res.data.success) {
          location.href = '/room-list/{{user._id}}';
        } else {
          location.href = '/login';
        }
      });
    });
    socket.on('room-enter', (data) => {
      const notification = $('<div></div>').addClass('notification');
      notification.append(
        $('<p></p>').text(
          `${data.user.nickname}(${data.user.id})님이 입장하셨습니다.`
        )
      );
      $('.chat-content').append(notification);
    });
  });
</script>
{% endblock %}
