<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cocoa Talk</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/layout.css" />
    {% block style %} {% endblock %}
  </head>
  <body>
    <div class="wrap">
      <div class="main">
        <i class="fa-solid fa-comment-sms main-icon"></i>
        <h1 class="main-title">Cocoa Talk</h1>
      </div>
      {% block content %}
    </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://kit.fontawesome.com/a99ca2fd10.js"
      crossorigin="anonymous"
    ></script>
    {% block script %} {% endblock %}
  </body>
</html>
