{% extends 'layout.html' %} {% block style %}
<link rel="stylesheet" href="/main.css" />
{% endblock %} {% block content %}
<button class="logout-btn">로그아웃</button>
<div class="greeting">
  <p>{{user.nickname}}({{user.id}}) 님, 반갑습니다.</p>
</div>
<div class="menu">
  <a href="/search-room"
    ><i class="fa-solid fa-magnifying-glass"></i>채팅방 검색</a
  >
  <a href="/room-list/{{user._id}}"
    ><i class="fa-solid fa-comments"></i>채팅방 목록</a
  >
  <a href="/search-user"
    ><i class="fa-solid fa-magnifying-glass"></i>유저 검색</a
  >
  <a href="/friend-list/{{user._id}}"
    ><i class="fa-solid fa-user-group"></i>친구 목록</a
  >
  <a href="/profile/{{user._id}}"
    ><i class="fa-solid fa-address-card"></i>프로필</a
  >
</div>
{% endblock %} {% block script %}
<script>
  $('.logout-btn').on('click', () => {
    axios
      .post('/logout')
      .then((res) => {
        if (res.data.success) {
          location.href = '/login';
        }
      })
      .catch((err) => {
        console.error(err);
      });
  });
</script>
{% endblock %}
