{% extends 'layout.html' %} {% block style %}
<link rel="stylesheet" href="/profile.css" />
{% endblock %} {% block content %}
<div class="pw-modal-bg" style="display: none">
  <div class="pw-modal">
    <h2>비밀번호 변경</h2>
    <form class="pw-form">
      <input
        type="password"
        name="oldPw"
        placeholder="기존 비밀번호"
        required
      />
      <input type="password" name="newPw" placeholder="새 비밀번호" required />
      <div class="btn-box">
        <button type="button" class="pw-cancel-btn">취소</button>
        <button type="submit">수정</button>
      </div>
    </form>
  </div>
</div>
{% if user._id.toString() != profileOwner._id.toString() %}
<div class="friend-modal-bg" style="display: none">
  <div class="friend-modal">
    <h2>
      {{profileOwner.nickname}}({{profileOwner.id}}) 님을 친구 추가하시겠습니까?
    </h2>
    <div class="btn-box">
      <button type="button" class="friend-cancel-btn">취소</button>
      <button type="button" class="add-btn">추가</button>
    </div>
  </div>
</div>
{% endif %}
<h1>[{{profileOwner.nickname}}]의 프로필</h1>
<div class="profile-content">
  {% if user._id.toString() == profileOwner._id.toString() %}
  <button type="button" class="edit-pw">비밀번호 변경</button>
  {% else %} {% if user.friends.includes(profileOwner._id) %}
  <button type="button" class="delete-friend-btn">
    <i class="fa-solid fa-user-slash"></i>친구 삭제
  </button>
  {% else %}
  <button type="button" class="friend-btn">
    <i class="fa-solid fa-user-plus"></i>
    친구 추가
  </button>
  {% endif %} {% endif %}
  <ul>
    <li><p>ID: {{profileOwner.id}}</p></li>
    <li>
      <p>
        가입 날짜: {{profileOwner.createdAt.getFullYear(ko-KR, {timeZone:
        'Asia/Seoul'})}}년 {{profileOwner.createdAt.getMonth(ko-KR, {timeZone:
        'Asia/Seoul'}) + 1}}월 {{profileOwner.createdAt.getDate(ko-KR,
        {timeZone: 'Asia/Seoul'})}}일
      </p>
    </li>
    <li>
      <p>친구 목록 ({{profileOwner.friends.length}})</p>
      <div class="friend-list">
        {% if profileOwner.friends.length === 0 %}
        <p>친구가 없습니다.</p>
        {% endif %} {% for friend in profileOwner.friends %}
        <div class="friend-room">
          <p>{{friend.nickname}} ({{friend.id}})</p>
        </div>
        {% endfor %}
      </div>
    </li>
    <li>
      <p>채팅방 목록 ({{rooms.length}})</p>
      <div class="room-list">
        {% if rooms.length === 0 %}
        <p>참여한 채팅방이 없습니다.</p>
        {% endif %} {% for enteredRoom in rooms %}
        <div class="friend-room">
          <h2 class="room-title">{{enteredRoom.title}}</h2>
          <p class="room-owner">
            관리자: {{enteredRoom.owner.nickname}}({{enteredRoom.owner.id}})
          </p>
          <p class="room-users">
            인원({{enteredRoom.users.length}}): {% for user in enteredRoom.users
            %} {{user.nickname}}({{user.id}}) {% endfor %}
          </p>
        </div>
        {% endfor %}
      </div>
    </li>
  </ul>
</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(() => {
    $('.edit-pw').on('click', () => {
      $('.pw-modal-bg').show();
    });

    $('.pw-cancel-btn').on('click', () => {
      $('.pw-modal-bg').hide();
    });

    $('.pw-form').on('submit', (e) => {
      e.preventDefault();
      const oldPw = $('[name=oldPw]').val();
      const newPw = $('[name=newPw]').val();
      axios
        .put('/user-pw/{{profileOwner._id.toString()}}', { oldPw, newPw })
        .then((res) => {
          if (res.data.success) {
            $('.pw-modal-bg').hide();
            alert('비밀번호가 변경되었습니다.');
          } else {
            alert('기존 비밀번호가 일치하지 않습니다.');
          }
          $('[name=oldPw]').val('');
          $('[name=newPw]').val('');
        });
    });

    $('.friend-btn').on('click', () => {
      $('.friend-modal-bg').show();
    });

    $('.friend-cancel-btn').on('click', () => {
      $('.friend-modal-bg').hide();
    });

    $('.add-btn').on('click', () => {
      axios.post('/add-friend/{{profileOwner._id.toString()}}').then((res) => {
        if (res.data.success) {
          alert('친구 추가가 완료되었습니다.');
          location.reload();
        } else {
          alert('이미 친구 추가가 되어있습니다.');
        }
      });
    });

    $('.delete-friend-btn').on('click', () => {
      axios
        .delete('/delete-friend/{{profileOwner._id}}')
        .then((res) => {
          if (res.data.success) {
            alert('친구 삭제가 완료되었습니다.');
            location.reload();
          } else {
            alert('친구 삭제에 실패했습니다.');
          }
        })
        .catch((err) => {
          console.error(err);
        });
    });
  });
</script>
{% endblock %}
