{% extends 'layout.html' %} {% block style %}
<link rel="stylesheet" href="/room-list.css" />
{% endblock %} {% block content %}
<h1>채팅방 목록</h1>
<div class="room-list">
  {% for room in rooms %}
  <div class="room" data-id="{{room._id}}">
    <h2>{{room.title}}</h2>
    <p>관리자: {{room.owner.nickname}}({{room.owner.id}})</p>
    <p>
      인원: {% for user in room.users %} {{user.nickname}}({{user.id}}) {%
      endfor %}
    </p>
    <p>생성 날짜: {{room.createdAt.toLocaleDateString('ko-KR')}}</p>
  </div>
  {% endfor %}
</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(() => {
    $('.room').on('click', (e) => {
      location.href = `/room/${e.currentTarget.dataset.id}`;
    });
  });
</script>
{% endblock %}
