.chat-box {
  width: 70%;
  height: 85%;
  background-color: #ffffff;
  border: 3px solid #3a1d1d;
  position: relative;
}

.chat-title {
  border-bottom: 3px dotted #3a1d1d;
  background-color: #d3d3d3;
  width: 100%;
  position: absolute;
}

.room-list-link {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  background-color: #646464;
  border-radius: 5px;
}

.room-list-link:hover {
  background-color: #424242;
}

.room-info-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 30px;
  margin: 5px;
  background-color: transparent;
  color: #000000;
  font-size: 24px;
}

.room-info-btn:hover {
  background-color: transparent;
}

.chat-title h1 {
  text-align: center;
}

.chat-content {
  overflow-y: auto;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  padding: 40px 10px 0 10px;
}

.other-msg,
.my-msg {
  margin: 10px 0;
}

.other-msg {
  align-self: flex-start;
}

.my-msg {
  align-self: flex-end;
}

.my-msg .msg-user {
  text-align: right;
}

.msg-user p {
  font-size: 18px;
}

.content-createdAt {
  display: flex;
}

.msg-content {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.other-msg .msg-content {
  background-color: #3a1d1d;
  color: #ffffff;
}

.my-msg .msg-content {
  background-color: #f7e600;
  color: #000000;
}

.msg-content p {
  font-size: 22px;
}

.msg-createdAt {
  display: inline-block;
  height: 100%;
  align-self: flex-end;
  margin: 0 3px;
}

.msg-createdAt p {
  color: #646464;
  font-size: 16px;
}

.chat-form {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.chat-form input {
  font-size: 22px;
  margin: 0 10px;
  width: 80%;
  outline: none;
}

.chat-form button {
  background-color: #f7e600;
  color: #000000;
  height: 30px;
}

.chat-form button:hover {
  background-color: #e0d100;
}

.room-info {
  background-color: #ffffff;
  position: absolute;
  top: 20%;
  width: 60%;
  height: 70%;
  border: 3px solid #3a1d1d;
  padding: 10px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s;
}

.room-info.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.room-exit-btn {
  width: 100px;
  background-color: #ff0000;
  margin-bottom: 20px;
}

.room-exit-btn:hover {
  background-color: #cc0000;
}

.room-owner {
  font-size: 22px;
}

.room-users {
  margin-top: 10px;
  font-size: 28px;
}

.users-list {
  display: flex;
  flex-direction: column;
}

.room-user {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f7e600;
  border-radius: 10px;
}

.room-created-at {
  margin-top: 20px;
  color: #646464;
}
