* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
}

p {
  font-size: 20px;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  height: 100vh;
  background-color: #f7e600;
  border: 3px solid #3a1d1d;
  border-radius: 10px;
  position: relative;
}

.main {
  margin-bottom: 30px;
  cursor: pointer;
}

.main-icon {
  font-size: 50px;
  color: #3a1d1d;
  background-color: #f7e600;
  margin-right: 10px;
  vertical-align: top;
}

.main-title {
  display: inline-block;
  font-size: 40px;
}

button {
  width: 80px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #3a1d1d;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  align-self: flex-end;
}

button:hover {
  background-color: #000000;
}
