.login-form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.login-form input {
  margin: 10px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #3a1d1d;
  background-color: #f7e600;
  font-size: 20px;
}

.login-form input:focus {
  border-bottom-color: #000000;
}

hr {
  width: 30%;
  margin: 20px auto;
  border-color: #3a1d1d;
}

.register-box,
.find-pw {
  width: 30%;
  margin-bottom: 20px;
}

.register-box p,
.find-pw p {
  display: inline-block;
  font-size: 20px;
  padding-top: 15px;
}

.register-btn,
.pw-btn {
  float: right;
}

.error-box {
  width: 30%;
}

.error {
  margin-top: 10px;
  color: red;
  font-size: 20px;
}
