.search-form {
  display: flex;
  width: 40%;
  margin: 10px 0;
}

.search-form input {
  height: 50px;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 10px;
  flex-grow: 2;
}

.search-btn {
  margin-left: 10px;
}

.room-list {
  width: 50%;
  overflow-y: auto;
}

.room {
  width: 100%;
  border: 3px solid #3a1d1d;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

.room:hover {
  background-color: #ffffff;
}

.room h2 {
  display: inline-block;
}

.room p {
  margin-top: 10px;
}

.owner {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

.users {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.createdAt {
  font-size: 16px;
  color: #646464;
}
